<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Million Searches Per Second</title>
    <!-- LIBS: Bootstrap Version 5.1, JQuery 3.6.0 -->
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.bundle.js') }}"></script>
    <script src="{{ url_for('static',filename='js/pagination.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/search.js') }}"></script>
</head>

<body>
    {% if request.path != '/ads' %}
    <div class="container-fluid">
    {% else %}
    <div class="container-fluid px-0">
    {% endif %}
        <div class="row">
            {% include 'navbar.html' %}
        </div>
        
        {% block content %}{% endblock %}
    </div>
</body>

</html>