{% extends 'layouts/container.html' %}
{% block content %}
<script src="{{ url_for('static',filename='js/login.js') }}"></script>
<div class="row">
    <div class="col">
    </div>
    <div class="col-8">
        <h1>Login</h1>
        <em id="status"></em>
        <form id="loginForm" name="loginForm">
            <div class="mb-3">
                <label for="loginEmail" class="form-label">Email address</label>
                <input type="email" class="form-control" id="loginEmail" name="email">
            </div>
            <div class="mb-3">
                <label for="loginPassword" class="form-label">Password</label>
                <input type="password" class="form-control" id="loginPassword" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
    <div class="col">
    </div>
</div>
{% endblock %}